<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Position Tutorial</title>
	<link rel="stylesheet" href="../../bower_components\bootstrap\dist\css\bootstrap.min.css">

	<link rel="stylesheet" href="../content/position.css">
</head>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<div class="container">

	<div class="yellow-box">

	</div>

	<div class="green-box"></div>

	<div class="blue-box"></div>

</div>


<body>

</body>

</html>